    *{

        padding:0;
        margin:0;
        vertical-align:baseline;
        list-style:none;
        border:0

    }
    :root{

        --max-width-content: calc(100% - 210px);

        --max-width-content-two: calc(100% - 420px);

        --fix-sidebar-menu: auto;

    }header, section, footer, aside, nav, main, article, figure{

        display: block;

    }
    body, html{

        font-family: "Roboto", "sans-serif";
        font-family: "Nunito", "sans-serif";

        font-size: 14px;

        

    }
    a, .cor-links, .user_active{

        color: #20a8d8;
    }
    .cor-links:hover{

        text-decoration: underline;

        color: #20a8d8;

    }
    #content{
        margin: 5px;
        background: #fff;
        padding: 10px;
        max-width: calc(100% - 10px);
        height: calc(100vh - 108px);
        overflow-y: auto;
    }

    #content::-webkit-scrollbar {
        display: none;
    }
    .dark_panel{

        position: fixed;

        top: 0;

        left: 0;

        bottom: 0;

        width: 100%;

        height: 100%;

        background: rgba(0, 0, 0, 0.5);

        z-index: 1;

        display: none;

    }/* CONTAINER MASTER */


    table a.btn{
        line-height: 2;
    }


    .btn i{
        line-height: normal;
    }

     .modalBootstrap{
        box-shadow: none;
        background-color: transparent;
        
    }

    .tox .tox-notification--in{
        opacity: 0 !important;
        display: none !important;
    }

    .table td{vertical-align: middle;}


/* Alterei aqui */
.modal.datepicker-modal.open, .modal.timepicker-modal.open{
    bottom: auto;
}

    

 