.float-right{
        float: right;
}

.float-left{
        float: left;	
}
.float-left:after,
.float-left:before,
.float-right:after,
.float-right:before{
        content: '';
        display: block;
        float: none;
        clear: both;
}
.flex-container{
        display: flex; 
        flex-direction: row;
}
.margin-side-20{	
        margin: 0 20px;
}
.margin-side-10{	
        margin: 0 10px;
}
.margin-right-15{	
        margin-right: 15px;
}
.inline-block{display: inline-block;}
.fixed{
        position: fixed !important;
        z-index: 2 !important;
}
.column > div{display: inline-block; margin: 10px 0;}
.column .col-2{width: calc(50% - 2px);}
.column .col-3{width: calc(33% - 2px);}
.column .col-4{width: calc(25% - 4px);}
.column .col-5{width: calc(20% - 4px);}
@media all and (max-width: 990px) and (min-width: 0){
        .display-none{
            display: none; 
    }
}
    
